@import 'normalize.css';

:root {
    --white: #fff;
    --black: #000;
    --primary: #efe9d9;
    --text-color: #a5826f;
    --bg-color-sidebar: #e5ddc7;
    --height-page: calc(100vh - 90px);
    --width-page: calc(100% - 240px);
    --padding-layout-page: 60px;
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    font-family: Inter, sans-serif;
}
//Font family
@font-face {
    font-family: Inter;
    src: url(../../assets/font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2);
}
//Bỏ thuộc tính mặc định
button,
input,
[tabindex],
select,
textarea {
    outline: none;
    border: none;
    font-family: var(--font-family);
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
//Scrollbar
html ::-webkit-scrollbar {
    width: 6px;
    background-color: var(--primary);
}
html ::-webkit-scrollbar-thumb {

    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
html ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset #fff;
    border-radius: 4px;
}


//Tippy
.tippy-box {
    font-size: 12px;
    background-color: rgba(84, 84, 84, 0.92);
}
.tippy-arrow {
    background-color: transparent;
    color: rgba(84, 84, 84, 0.92);
}
//Slick
.slick-next {
    right: 110px;
}
.slick-prev {
    z-index: 10;
    left: 110px;
}
.slick-slider {
    margin: 0;
}
.slick-dots li button {
    display: none;
}
