.btn-navlink {
    padding: 4px 24px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    background-color: white;
    &.active {
        background-color: #d5b87c;
    }
    &.outline {
        border: 1px solid white;
    }
}
