.wrapper {
    padding: 32px 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}
.btn-action {
    padding: 16px 0;
}

.btn {
    padding: 4px 24px;
    border: 1px solid #a5826f;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    cursor: pointer;
}
.btn.active {
    background-color: #a5826f;
    color: white;
}
.page-mini{
    width: 100%;
}
