.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    height: var(--height-page);
    width: 100%;
}
.content {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
}
.slider img {
    width: 150px;
    height: 150px;
}
////